<kendo-grid
    [data]="gridData"
    [pageSize]="pageSize" [skip]="pageSize * (pageNumber - 1)" [pageable]="true" (pageChange)="pageChange($event)"
>
    <kendo-grid-column *ngFor="let col of columns" [field]="col.field" [title]="col.title">
        <ng-template kendoGridCellTemplate let-dataItem *ngIf="col.field === 'avatar'">
            <img [ngStyle]="{'width': '100px'}" src="{{dataItem.avatar}}"/>
        </ng-template>

        <ng-template kendoGridCellTemplate let-dataItem *ngIf="col.field === 'createdAt'">
            {{dataItem.createdAt | date: 'fullDate'}}
        </ng-template>

        <ng-template kendoGridCellTemplate let-dataItem *ngIf="col.field === '_'">
            <ng-container *ngTemplateOutlet="col.template; context:{$implicit: dataItem}"></ng-container>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>