<!-- <div class="example-container">
    <mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile>
            <form onsubmit="test()">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput #username>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" #password>
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-button type="button" color="accent" (click)="logIn(username.value, password.value)">Login</button>
                    <button mat-button type="button" color="warn" routerLink="/management/usermanagement/list">Cancel</button>
                </div>
            </form>
        </mat-grid-tile>
      </mat-grid-list>
</div> -->
<div class="example-container">
    <mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile>
            <form onsubmit="test()">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput #username>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" #password>
                </mat-form-field>
                <div class="example-button-row">
                    <button mat-button type="button" color="accent" (click)="logIn(username.value, password.value)">Login</button>
                    <button mat-button type="button" color="warn" routerLink="/management">Cancel</button>
                </div>
            </form>
        </mat-grid-tile>
      </mat-grid-list>
</div>

<div class="loadingio-spinner-bean-eater-q3f95es5hl">
    <div class="ldio-p1xhsxlkedi">
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>